*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: rgb(239, 235, 235);
    
}
.header{
    width: 100%;
    height: 55px;
    position: fixed;
    border-radius: 25px;
    z-index: 10;
    /* مفيش داعي اني ادي للاب position relateve ugahk  */
    top: 0;
    background-color:rgba(92, 168, 183, 0.7);
}
.img{
    width: 100px;
    height: 55px;
    margin-left: 50px;
    float: left;
}
.list{
    
    position: relative;
    float: right;
    margin-right: 50px;
    margin-top: 20px;}
.li1{
    text-decoration: underline   3px  aqua ;
}
/* } .li1{
    text-decoration: underline   3px  aqua ;
   
}  */

.list  li{
    list-style: none;
    margin-left: 20px;
    display: inline;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;}

.list  li:hover{

    text-decoration: underline   3px  aqua ;
    
}
.list li   a{
    text-decoration: none;
    color: aliceblue;
}

.section2{
    width: 100%;
    height: 100vh;
    background-image:url(../image4/photo_2023-12-06_23-42-51.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    position: relative;
}
.overlay1{
    position:absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(103, 9, 153, 0.7); */
    background-color: rgba(43, 25, 60, 0.7);
    /* background-color:rgb(102, 130, 144,0.7); */
}
.content1{
    width: 50%;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.title1{
     font-size: 50px;
     text-transform: uppercase;
     color: aliceblue;
     /* text-align: center; */
}.p1{
    font-size: 20px;
    color: aliceblue;
}.b1{
    width: 150px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 21px;
}.b2{
    width: 150px;
    height: 50px;
    background-color:rgba(92, 168, 183);
    border-radius: 10px;
    color:aliceblue;
    font-size: 21px;
}.b{
    margin-top: 10px;
    text-transform: capitalize;

}.b:focus{
  opacity: 0.7;

}.title_sec3{
    
    width: 360px;
    height: 70px;
    margin:120px auto ;

    
}
.text_sec3{
    
    text-align: center;
    font-size: 40px;
}
.hr1{
    width: 100px;
    height: 5px;
    border-radius: 3px;
    margin: auto;
    background-color:rgba(92, 168, 183);}
    /* sec3 is a container */
.sec3{
    width: 80%;
    margin:auto;
    overflow: auto
}
.parent3{
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}

.d{
    float: left;
    width: 30%;
    height: 250px;
    text-align: center;
    position: relative;
    border: 2px  solid  rgba(92, 168, 183);
}
.div1_2{
    margin: 0px 5%;
}
.parent3 i{
    margin-top: 20px;
    color: rgba(92, 168, 183);
    font-size: 25px;
}.parent3 h2{
    margin-top: 20px;
    font-size: 25px;
    text-transform: capitalize;
}.parent3 p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    opacity: 0.5;
}.parent3  a{
   text-decoration: none;
   margin-top: 30px;
   padding-bottom: 30px;
   font-size: 25px;
   text-transform: capitalize;
   color:rgba(92, 168, 183) ;
 
}.d h2{
    position: relative;
}
.d i{
    position: relative;
}
.d p{
    position: relative;
}
.d a{
    position: relative;
}
.d:hover i{
    z-index: 5;
}
.d:hover a{
    color:rgb(62, 194, 220);
    z-index: 5;
}
.d:hover h2{
    color: rgb(253, 253, 253);
    z-index: 3;
}
 .d:hover p{
    z-index: 3;
    color: rgb(6, 6, 6);
}
.d::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color:rgb(0, 0, 0);
    opacity: 0;
    transition: 2s;
}.d:hover::after{
    width: 100%;
    height: 100%;
    opacity:0.5;}





    
    .title{
        width: 260px;
        height: 30px;
        margin: auto;
        margin-bottom: 150px;
        
    }
    .text{
        text-align: center;
        font-size: 40px;
    }
    .hr2{
        width: 50px;
        height: 5px;
        border-radius: 3px;
        margin: auto;
        background-color:rgba(92, 168, 183);
    
    }
    .parent{
        margin-bottom: 150px;
        /* margin-top: 150px; */
        margin-left: 65px;
        overflow: auto;
    }
    .div1{
        width: 250px;
        /* height: 350px; */
        float: left;
        margin-left: 150px;
        border: 3px solid rgba(92, 168, 183);
    
    }
    .div2{
        width: 250px;
        /* height: 350px; */
        float: left;
        
        margin-left: 150px;
        margin-right: 150px;
        border: 3px solid rgba(92, 168, 183);
    
    }
    .div3{
        width: 250px;
        /* height: 350px; */
        float: left;
        border: 3px solid rgba(92, 168, 183);
    }
    .first{
        opacity: 0.5;
        text-align: center;
        margin-top: 30px;
        text-transform: uppercase;
    }
    .cycle1{
        margin: auto;
        margin-top: 10px;
        width: 100px;
        /* height: 100px; */
        border-radius: 50px;
        border: 2px solid rgba(92, 168, 183) ;
        
    }
    .cycle2{
        margin: auto;
        width: 100px;
        /* height: 100px; */
        margin-top: 10px;
        border-radius: 50px;
        border: 2px solid rgba(92, 168, 183) ;
        
    }
    .cycle3{
        margin: auto;
        width: 100px;
        /* height: 100px;  */
        margin-top: 10px;
        border-radius: 50px;
        border: 2px solid rgba(92, 168, 183) ;
        
    }
    .cycleh21{
        text-align: center;
        margin-top: 10px;
        font-size: 40px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    .cycleh31{
        text-align: center;
        margin-top: 3px;
        text-transform: uppercase;
        font-size: 15px;
    }
    .cycleh22{
        text-align: center;
        margin-top: 10px;
        font-size: 40px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    .cycleh32{
        text-align: center;
        margin-top: 3px;
        text-transform: uppercase;
        font-size: 15px;
    }
    .cycleh23{
        text-align: center;
        margin-top: 10px;
        font-size: 40px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    .cycleh33{
        text-align: center;
        margin-top: 3px;
        text-transform: uppercase;
        font-size: 15px;
    }
    p{
        text-align: center;
        opacity: 0.7;
        margin-top: 10px;
    }
    .btn1{ 
        margin: 40px 72px;
        width: 100px;
        height: 40px;
        border: 3px solid rgba(92, 168, 183);
        border-radius: 5px;
        background-color:rgba(92, 168, 183) ;
        color: aliceblue ;
        
    }
  .dd:hover h3{
    color: red;
  }
 .dd:hover h2{
    color:red;
 }

 .dd{
    position: relative;
    transition: 2s;
 } 
.parent  .dd::after{ 
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(7, 7, 7);
    opacity: 0;
    transition: 2s;
}.parent  .dd:hover::after{
    width: 100%;
    height: 100%;
    opacity:0.5;}


.title_team{
    width: 260px;
    height: 30px;
    margin: auto;
    margin-bottom: 150px ;
    text-align: center;
}.title_team2{
    width: 50px;
    height: 5px;
    border-radius: 3px;
    margin: auto;
    background-color:rgba(92, 168, 183);
}.title_team1{
    font-size: 40px;
}

    
.container5{
    margin-top: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 300px;
}.parent5{
    overflow: auto;
}.team_item{
    float: left;
    width: 30%;
    background-color: rgb(136, 130, 122,0.7);
    padding: 14px 18px;
    text-align: center;
    position: relative;
}.ww{
    margin: 0px  5%;
}.team_img{
    
    width: 90%;
    margin: auto;
    position: relative;

}.team_img img{
    width: 100%;
}.team_overley{
     position: absolute;
     top:0;
     width: 100%;
     height: 100%;
     background-color: rgb(0, 0, 0,0.5);
     visibility: hidden;
}.team_overley  a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(108, 168, 236);
    color: aliceblue;
    font-size: 23px;
    margin-left: auto;
}.team_overley a i{
    line-height: 40px;
}.team_info_title{
    text-transform: uppercase;
    padding: 12px;
}.team_info_span{
    text-transform: capitalize;
}.team_item:hover  .team_info_title{
    color: aliceblue;
}.team_item:hover  .team_info_span{
    color:blue;
}
.team_item:hover  .team_overley{
    visibility: visible;
}.team_item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    background-color: rgb(0, 0, 0,0.7);
    opacity: 0;
    transition: 2s;
}
.team_item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}







.title4{
    width: 360px;
    height: 30px;
    margin: auto;
    margin-bottom: 150px ;
    text-align: center;
}
.text_sec4{
    font-size: 40px;
}.hr4{
    width: 50px;
    height: 5px;
    border-radius: 3px;
    margin: auto;
    background-color:rgba(92, 168, 183);
}

.sec4{
    width: 80%;
    margin: auto;
    margin-bottom: 300px;
    /* text-align: center; */
    
}
.w{
    overflow: auto;
    margin: 20px;
}
.p{
    float: left;
    width: 30%;
    height: 350px;
  
    text-align: center;
   
   position: relative;
    
    
    
}.ee{
    margin: 0px 5%;
}.ovrelay2{
    position: absolute;
     top:0;
     width: 100%;
     height: 100%;
     background-color: rgb(0, 0, 0,0.5);
     opacity: 0;
     transition: 2s;
}.image4{
    width: 90%;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.sec4 a{
    width: 40px;
    height: 40px;
    color: aliceblue;
    font-size: 23px;
    border-radius: 10px;
    
}.ovrelay2  h4{
    font-size: 20px;
    margin-top: 40%;
}
.ovrelay2:hover  h4{
    color:rgb(6, 6, 244);
    
    
}
.ovrelay2  p{
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
}
.ovrelay2:hover  p{
    color:aliceblue;
}
.sec4 a i{
    line-height: 40px;
    padding: 0px 10px;
    color: rgb(10, 10, 151);
    background-color: rgb(108, 168, 236);
}.p:hover  .ovrelay2{
    visibility: visible;
    opacity: 0.9;
}
.title6{
    width: 360px;
    height: 30px;
    margin: auto;
    margin-bottom: 150px ;
    text-align: center;
}
.text_sec6{
    font-size: 40px;
}.hr6{
    width: 50px;
    height: 5px;
    border-radius: 3px;
    margin: auto;
    background-color:rgba(92, 168, 183);
}




.sec6{
    width: 80%;
    margin: auto;
    margin-bottom: 300px;
}

.q{
    overflow: auto;
    margin: 20px;

}.r{
    float: left;
    width: 30%;
   
    padding: 20px 0px 60px 60px ; 
    border: 2px  solid rgba(92, 168, 183)  ;
   
    position: relative;

}.r i{
    position: absolute;
    font-size: 30px;
    color:rgba(92, 168, 183) ;
    left: 0;
    top: 0;
}
.rr{
    margin: 0px 5%;}
.oo{
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 0px 0px 10px;
}
.r i{ 
    position: absolute;
    font-size: 30px;
    color:rgba(92, 168, 183) ;
}.r h2{
    position: relative;
    font-size: 28px;
}
.r i{
    position: relative;
}
.r p{
    position: relative;
    padding-top: 10px;
}
/* .r a{
    position: relative;
} */
.r:hover i{
    z-index: 5;
}

.r:hover h2{
    color: rgb(253, 253, 253);
    z-index: 3;
    
}
 .r:hover p{
    z-index: 3;
    color: rgb(6, 6, 6);
}
.r::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color:rgb(0, 0, 0);
    opacity: 0;
    transition: 2s;
}.r:hover::after{
    width: 100%;
    height: 100%;
    opacity:0.5;}





    .title7{
        width: 360px;
        height: 30px;
    
    }
    .text_sec7{
        font-size: 40px;
    }.hr7{
        width: 50px;
        height: 5px;
        border-radius: 3px;
        margin-left: 5px;
        background-color:rgba(92, 168, 183);
    }
.sec7{
    width: 80%;
    margin: auto;
    margin-bottom: 300px;
}
.parent7{
    overflow: auto;
   

}.y{
    width: 40%;
    float: left;
    margin: 0px 70px 0px 0px;
}
.div7_2{
    text-align: center;}
/* }.contant7_1{
    font-size: 20px;
    

} */
.contant7 p{
    padding-top: 40px;
    font-size: 20px;
}
.g{
    display: inline-block;
    width:10px ;
    height:10px;
    background-color: grey;
    border-radius: 50%;
    text-align: center;
    margin: 10px  5px;

}.list7_1 { 
    background-color: aqua;}  
.g:hover{
    background-color:aqua;
}
.k{
    display:inline-block;
    margin: 20px 0px;}
/* }.contant7_1{
    margin: 50px 0px  10px 0px;
}*/.kk{ 
    width: 20px;
    height: 20px;
    color: rgba(92, 168, 183) ;
    border: 1px solid rgba(92, 168, 183) ;
    border-radius: 10px;
}



.section8{
    width: 100%;
    height: 350px;
    background-image:url(../image4/care.PNG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
}
.overlay8{
    position:absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(103, 9, 153, 0.7); */
    background-color: rgba(43, 25, 60, 0.7);
    /* background-color:rgb(102, 130, 144,0.7); */
}
.content8{
    width: 80%;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    overflow: auto;
}.t{
    float: left;
    width: 20%;
   
    /* padding: 20px 5px;  */
    /* background-color: aquamarine; */
    margin: 0px 30px 0px 30px;
   
   position: relative;
}.content8_1{
    margin-left: auto;
}.content8_4{
    margin-right: auto;
}.t i{
    font-size: 30px;
    color:  rgba(92, 168, 183);

}.t p{
    color: aliceblue;
    font-size: 20px;
}.t h2{
    color: aliceblue;
    margin-top: 10px;
}


.section9{
    width: 100%;
    height: 450px;
    background-image:url(../image4/ccc.PNG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
}
.overlay9{
    position:absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(103, 9, 153, 0.7); */
    background-color: rgba(43, 25, 60, 0.7);
    /* background-color:rgb(102, 130, 144,0.7); */
}
.content9{
    width: 80%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* text-align: center; */
    overflow: auto;
}.uu{
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
}.uu img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* display: inline; */
    
    }.uu h2{
    color: aliceblue;
}.uu p{
    color:aliceblue;
    padding-top: 30px;
}.uu h3{
    color:rgba(92, 168, 183) ;}
.content9_img{
     position: absolute;

}.hhh{
    padding-left:85px ;
    padding-top: 10px;
}.text_sec10{
    
    text-align: center;
    font-size: 40px;
}
.hr10{
    width: 100px;
    height: 5px;
    border-radius: 3px;
    margin: auto;
    background-color:rgba(92, 168, 183);}
    /* sec3 is a container */
.sec10{
    width: 80%;
    margin:auto;
    overflow: auto
}
.parent10{
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    margin-top: 30px;
}

.ddd{
    float: left;
    width: 30%;
    /* height: 250px; */
    /* text-align: center; */
    position: relative;
    /* border: 2px  solid  rgba(92, 168, 183); */
}
.div10_2{
    margin: 0px 5%;
}
.parent10 i{
    margin-top: 20px;
    color: rgba(92, 168, 183);
    font-size: 20px;}
/* }.parent3 h2{
    margin-top: 20px;
    font-size: 25px;
    text-transform: capitalize;
}*/.parent10 p{ 
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    opacity: 0.5;
}.parent10  a{
   text-decoration: none;
   margin-top: 30px;
   margin-bottom: 30px;
   padding-bottom: 30px;
   font-size: 25px;
   text-transform: capitalize;
   color:rgba(92, 168, 183) ;
}
 .ddd h3{
    /*  */
    padding: 20px 0px;
    font-size: 20px;}
 
/* .ddd i{
    position: relative;
} 
*.ddd p{
    position: relative;
}
.ddd a{
    position: relative;
} 
.ddd:hover i{
    z-index: 5;
}
.ddd:hover a{
    color:rgb(62, 194, 220);
    z-index: 5;
}*/
.ddd img{ 
    width: 95%;
    height: 40%;

}
/* .d:hover h2{
    color: rgb(253, 253, 253);
    z-index: 3; */

 .ddd:hover p{
    z-index: 3;
    color: rgb(6, 6, 6);
}
.ddd::after{
    position: absolute;
    content: "";
    width:100%;
    height: 0;
    top: 0;
    left: 0;
    background-color:rgb(0, 0, 0);
    opacity: 0;
    transition: 2s;
}.ddd:hover::after{
    width: 100%;
    height: 100%;
    opacity:0.5;}
.last{
    width: 100%;
    height: 400px;
    background-color: rgba(92, 168, 183);
    position: relative;
}


.parent_last{
    width: 50%;
    height: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    overflow: auto;
}.parent_last img{
    width: 200px;
    height: 100px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}.parent_last i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    background-color:  rgb(108, 167, 234);
    border-radius: 50%;
    color: rgb(230, 244, 247) ;
}.ii:hover {
   background-color:  rgb(10, 112, 228);

}